// _footer.scss
footer {
    background-color: #222;
    color: white;
    padding: 20px;
    font-family: "Avenir-Regular", Arial, sans-serif;
    font-size: 16px;

    .rodape {
        text-align: center;
    }
}
