// _header.scss
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    height: 80px;
    padding: 0 20px;

    .logo {
        width: 150px;

        img {
            width: 100%;
        }
    }

    nav {
        font-family: "Avenir-Regular", Arial, sans-serif;
        font-size: 18px;

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
    }
}
